<html>
    <head>
        <title>ADD USER</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <%-include('header')-%>
        <div>
            <h1>=> co-ordinators From Sankalchand Patel Collage Of Engineering , Visnagar</h1>
            <h2>Akash Raval : <br/><a href="mailto:rvlaakash@gmail.com">rvlaakash@gmail.com</a><br/>+91 9157937194</h2>
            <h2>Deep Purohit : <br/><a href="mailto:jarvis19989008@gmail.com">jarvis19989008@gmail.com</a><br/>+91 8320945429</h2>
        
        </div>
        <%-include('footer')-%>
    </body>
    </html>