<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header')-%>
   
    <p>Welcome to Hack'In City .</p>
    <img src="/images/Hackin'City.jpeg" width="100%"/>
    <%- include('footer')-%>
  </body>
</html>
